@charset "UTF-8";
body {
  background-color: gray;
  width: 400px;
  padding: 40px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #000;
  text-align: center;
}

 h1, p {
  color: white;
  font-weight: 500;
}

p {
  font-size: px;
}
